root = true

[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Disable function-naming rule to allow PascalCase for @Composable functions
ktlint_function_naming_ignore_when_annotated_with=Composable

# Keep @Inject constructor on the same line as class name
ktlint_standard_class-signature = disabled

# Keep value on the same line as assignment (e.g. modifier = Modifier)
ktlint_standard_multiline-expression-wrapping = disabled
